<button class="base-btn" [ngClass]="buttonConfig.customClass" [type]="buttonConfig.type || 'button'"
        [disabled]="buttonConfig.isDisabled || buttonConfig.isLoading">
  <span *ngIf="buttonConfig.icon && !buttonConfig.isLoading" class="material-icons-round">{{buttonConfig.icon}}</span>
  <span *ngIf="buttonConfig.isLoading" class="spinner">
    <img src="/assets/images/mini_loader_grey.gif">
  </span>
  <span class="button-text" [style.pointer-events]="(buttonConfig.isDisabled || buttonConfig.isLoading) && 'none'">{{buttonConfig.text}}</span>
</button>
